name: Release

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Dry run'
        required: false
        type: boolean
        default: false
      debug:
        description: 'Debug mode'
        required: false
        type: boolean
        default: false

permissions:
  contents: read

env:
  HUSKY: 0

jobs:
  release:
    name: Release
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Install package
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Config npm
        run: npm config set access=public

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_EMAIL: release[bot]@users.noreply.github.com
          GIT_AUTHOR_NAME: release[bot]
          GIT_COMMITTER_EMAIL: release[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: release[bot]
        run: |
          ARGS=""
          if [ "${{ github.event.inputs.dryRun }}" = "true" ]; then
            ARGS="$ARGS --dry-run"
          fi
          if [ "${{ github.event.inputs.debug }}" = "true" ]; then
            ARGS="$ARGS --debug"
          fi
          npm run release -- $ARGS
